.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  color: #f2f2f2;
}
.contact-us-text {
  font-family: "Dynalight", regular;
  font-weight: lighter;
  font-style: normal;
}
#contact-us h1 {
  text-align: center;
  margin-bottom: 20px;
}
#contact-us h2 {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}
label {
  font-size: 16px;
}
input,
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #c0392b;
}
