main {
  background-color: #080808;
}
.have-a-look {
  margin: auto;
  text-align: center;
  border-bottom: 0.5cm, rgb(252, 224, 68);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}
.product-item {
  background-color: #080808;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.product-item img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.product-item h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #e1cbcb;
}

.product-item .old-price {
  text-decoration: line-through;
  color: #d8d2d2;
  font-size: 18px;
}

.product-item .new-price {
  color: rgb(252, 224, 68);
  font-size: 22px;
  margin: 10px 0;
}

.add-to-cart {
  background-color: rgb(251, 204, 51);
  border-radius: 10px;
  font-size: 24px;
  font-family: "Dynalight", regular;
  bottom: 0;
}
.add-to-cart a:link {
  text-decoration: none;
  color: rgb(35, 33, 33);
}
.add-to-cart a:visited {
  text-decoration: none;
  color: rgb(35, 33, 33);
}
.add-to-cart:hover {
  background-color: rgb(206, 171, 56);
  transform: scale(1.1);
}
